<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--        <context:component-scan base-package="AutowiredDef"/>-->
    <!--    <bean id="vehicle" class="SpringUsingXML.Bike"/>-->
<!--    <bean id="tyre" class="BeanPropertyXML.Tyre">-->
<!--        <property name="brand" value="MRD"/>-->
<!--    </bean>-->
<!--        <bean id="test" class="BeanLifeCycle.TestClass" init-method="init" destroy-method="destroy"/>-->
<!--        <bean id="helloWorld" class="BeanInheritance.HelloWorld">-->
<!--                <property name="message1" value="HelloWorld!"/>-->
<!--                <property name="message2" value="Hello Again!"/>-->
<!--        </bean>-->
<!--        <bean id="helloIran" class="BeanInheritance.HelloIran" parent="helloWorld">-->
<!--                <property name="message1" value="HelloWorld!"/>-->
<!--                <property name="message3" value="Hello Iran!"/>-->
<!--        </bean>-->
<!--<bean name="javaCollection" class="InjectingCollections.JavaCollection">-->
<!--    <property name="addressList">-->
<!--        <list>-->
<!--            <value>INDIA</value>-->
<!--            <value>Iran</value>-->
<!--            <value>CANADA</value>-->
<!--            <value>Iran</value>-->
<!--        </list>-->
<!--    </property>-->

<!--    <property name="addressSet">-->
<!--        <set>-->
<!--            <value>INDIA</value>-->
<!--            <value>Iran</value>-->
<!--            <value>CANADA</value>-->
<!--            <value>Iran</value>-->
<!--        </set>-->
<!--    </property>-->

<!--    <property name="addressMap">-->
<!--        <map>-->
<!--            <entry key="1" value="INDIA"/>-->
<!--            <entry key="2" value="Iran"/>-->
<!--            <entry key="3" value="USA"/>-->
<!--            <entry key="4" value="USA"/>-->
<!--        </map>-->
<!--    </property>-->

<!--    <property name="addressProp">-->
<!--        <props>-->
<!--            <prop key = "one">INDIA</prop>-->
<!--            <prop key = "one">INDIA</prop>-->
<!--            <prop key = "two">Pakistan</prop>-->
<!--            <prop key = "three">USA</prop>-->
<!--            <prop key = "four">USA</prop>-->
<!--        </props>-->
<!--    </property>-->
<!--</bean>-->
    <context:annotation-config/>

    <bean id="textEditor" class="CompleteAutoWireDef.OnProperties.TextEditor"/>
    <bean id="spellChecker" class="CompleteAutoWireDef.OnProperties.SpellChecker"/>
    <!-- bean definitions here -->

</beans>